{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    "transform-flow-strip-types",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": false
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["inline-dotenv"]
    }
  }
}
